name: Release

on:
  workflow_call:
    inputs:
      publish_to_pypi:
        type: boolean
        default: true

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: false

jobs:
  test:
    uses: tsilva/.github/.github/workflows/test.yml@main

  pii-scan:
    uses: tsilva/.github/.github/workflows/pii-scan.yml@main

  sync-description:
    needs: [test, pii-scan]
    uses: tsilva/.github/.github/workflows/sync-repo-description.yml@main
    secrets: inherit

  publish-pypi:
    if: inputs.publish_to_pypi
    needs: [test, pii-scan]
    uses: tsilva/.github/.github/workflows/publish-pypi.yml@main
    secrets: inherit

  create-release:
    if: '!inputs.publish_to_pypi'
    needs: [test, pii-scan]
    uses: tsilva/.github/.github/workflows/create-release.yml@main
    secrets: inherit
